<br/>

<div class="container" markdown="0">
    <a href="{{ site.url }}{{ site.baseurl }}/img/event/um_campus.jpg" data-lightbox="edinburgh-images" style="border-bottom: none;">
        <img class="thumb-lightbox" src="{{ site.url }}{{ site.baseurl }}/img/event/um_campus.jpg" alt="UM Campus" style="height: 200px">
    </a>
    <a href="{{ site.url }}{{ site.baseurl }}/img/event/um_autumn.jpg" data-lightbox="edinburgh-images" style="border-bottom: none">
        <img class="thumb-lightbox" src="{{ site.url }}{{ site.baseurl }}/img/event/um_autumn.jpg" alt="UM Autumn"  style="height: 200px">
    </a>
</div>

<br/>

<script>
    lightbox.option({
      'resizeDuration': 100,
      'wrapAround': true
    })
</script>
