<div class="wrapper">
<h3>Stable specifications</h3>
</div>
<section class="section-quick-links">
  <a class="button-turquoise" href="{{ page.webprefix }}/api/image/{{ site.image_api.latest.major }}.{{ site.image_api.latest.minor }}/">IIIF Image API {{ site.image_api.latest.major }}.{{ site.image_api.latest.minor }}</a>
  <a class="button-turquoise" href="{{ page.webprefix }}/api/presentation/{{ site.presentation_api.latest.major }}.{{ site.presentation_api.latest.minor }}">IIIF Presentation API {{ site.presentation_api.latest.major }}.{{ site.presentation_api.latest.minor }}</a><br/><br/>
  <a class="button-turquoise" href="{{ page.webprefix }}/api/auth/{{ site.auth_api.latest.major }}.{{ site.auth_api.latest.minor }}">IIIF Authentication API {{ site.auth_api.latest.major }}.{{ site.auth_api.latest.minor }}</a>
  <a class="button-turquoise" href="{{ page.webprefix }}/api/search/{{ site.search_api.latest.major }}.{{ site.search_api.latest.minor }}">IIIF Search API {{ site.search_api.latest.major }}.{{ site.search_api.latest.minor }}</a>
  <a class="button-turquoise" href="{{ page.webprefix }}/api/discovery/">IIIF Change Discovery 1.0</a>
 
</section>
<div class="wrapper">
<h3>Beta specifications</h3>
</div>
<section class="section-quick-links">
   <a class="button-turquoise" href="{{ page.webprefix }}/api/content-state/">Content State API</a>
  <p>For a list of all specifications, translations and versions see the <a href="{{ page.webprefix }}/api/">Full IIIF API List</a></p>
</section>
