
<style type="text/css">
#map{
  display: block;
  position: relative;
  height: 60vh;
  margin-bottom: 50px;
  margin-left: -5vw;
  margin-right: -5vw;
}
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
<link rel="stylesheet" href="https://cdn.rawgit.com/Leaflet/Leaflet.label/0.8/dist/leaflet.label.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://rawgit.com/mejackreed/Leaflet-IIIF/master/leaflet-iiif.js"></script>
<script src="https://cdn.rawgit.com/Leaflet/Leaflet.label/0.8/dist/leaflet.label.js"></script>    

<div id="map"></div>
<script type="text/javascript">
var map;

map = L.map('map', {
  center: [0, 0],
  crs: L.CRS.Simple,
  zoom: 0
});
var baseLayer;
var annoFeatures = new L.FeatureGroup();
map.addLayer(annoFeatures);
$.getJSON('https://dms-data.stanford.edu/data/manifests/BnF/jr903ng8662/manifest.json', function(data) {
  var page = data.sequences[0].canvases[7];
  baseLayer = L.tileLayer.iiif(
    page.images[0].resource.service['@id'] + '/info.json',
    {
      tileSize: 1024
    }
  ).addTo(map);

  $.getJSON(page.otherContent[0]['@id'], function(annoData) {
    $.each(annoData.resources, function(i, value) {
      var b = /xywh=(.*)/.exec(value.on)[1].split(',');
      var minPoint = L.point(b[0], b[1]);
      var maxPoint = L.point(parseInt(b[0]) + parseInt(b[2]), parseInt(b[1]) + parseInt(b[3]));
      var min = map.unproject(minPoint, 3);
      var max = map.unproject(maxPoint, 3);
      L.rectangle(L.latLngBounds(min, max)).bindLabel(value.resource.chars).addTo(map);
    });
  });
});
</script>