---
layout: default
---
<div class="sub-pages-container">
  <div class="{{ page.id }} clearfix">
    <section class="washington-links">
        <nav class="washington-nav">
        <ul>
            {% if page.page contains 'overview' %}
                {% assign class = 'is-selected' %}
            {% else %}
                {% assign class = '' %}
            {% endif %}
            <li><a class="{{ class }}" href="{{ site.url }}{{ site.baseurl }}/event/2020/boston/">Overview / Logistics</a></li>
            <!-- {% if page.page contains 'monday' %}
                {% assign class = 'is-selected' %}
            {% else %}
                {% assign class = '' %}
            {% endif %}
            <li><a class="{{ class }}" href="{{ site.url }}{{ site.baseurl }}/event/2019/goettingen/showcase/">Monday - showcase</a></li> -->
            {% if page.page contains 'workshops' %}
                {% assign class = 'is-selected' %}
            {% else %}
                {% assign class = '' %}
            {% endif %}
            <li><a class="{{ class }}" href="{{ site.url }}{{ site.baseurl }}/event/2020/boston/workshops/">Workshops</a></li>
<!--                 {% if page.page contains 'wednesday' %}
                {% assign class = 'is-selected' %}
            {% else %}
                {% assign class = '' %}
            {% endif %}
            <li><a class="{{ class }}" href="{{ site.url }}{{ site.baseurl }}/event/2019/goettingen/wednesday/">Wednesday - Conference</a></li>
            {% if page.page contains 'thursday' %}
                {% assign class = 'is-selected' %}
            {% else %}
                {% assign class = '' %}
            {% endif %}
            <li><a class="{{ class }}" href="{{ site.url }}{{ site.baseurl }}/event/2019/goettingen/thursday/">Thursday - Conference</a></li>
            {% if page.page contains 'friday' %}
                {% assign class = 'is-selected' %}
            {% else %}
                {% assign class = '' %}
            {% endif %}
            <li><a class="{{ class }}" href="{{ site.url }}{{ site.baseurl }}/event/2019/goettingen/friday/">Friday - Conference</a></li>  -->
        </ul>
    </nav>
    </section>
    <article>
      {% include sub-page_header.html %}
      <div class="specbody">
      {{ content }}
      </div>
    </article>
  </div>
</div>
