---
layout: default
---

<div class="home">
    {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}
    <div id="announce-list">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
        <script src="{{ site.url }}{{ site.baseurl }}/js/vendor/moment-with-locales.min.js"></script>
        <script src="{{ site.url }}{{ site.baseurl }}/js/vendor/moment-timezone-with-data.js"></script>
        <script src="{{ site.url }}{{ site.baseurl }}/js/calendar_integration.js"></script>

        <!--<script async defer src="https://apis.google.com/js/api.js?onload=initClient" ></script>-->

        <div id="upcoming_calls">
            <h3>Join a group call</h3>
            <p>Calls this week:</p>
            <ul id="calls">
            </ul>
            <p><a href="{{ site.url }}{{ site.baseurl }}/community/groups/#calendar">View full calendar</a></p>
        </div>
        <script>
            function initClient() {
                console.log("Loading gclient" + new Date());
               // gapi.load('client', onLoadCallback);
                console.log("gCLeint loaded" + new Date());
            }

            //function onLoadCallback() {
                console.log("Setting up data " + new Date());
                //var today = new Date();
               // var week = new Date();
               // week.setDate(today.getDate() + 7);
                // This should come from a config/data file:
                var group_titles = {
                    "IIIF 3D Community Group": {
                        name: "IIIF 3D",
                        link: "community/groups/3d"
                    },
                    "IIIF Maps": {
                        name: "IIIF Maps",
                        link: "community/groups/maps"
                    },
                    "IIIF Cookbook session": {
                        name: "IIIF Cookbook",
                        link: "community/groups/#calendar"
                    },
                    "IIIF A/V Call": {
                        name: "IIIF AV",
                        link: "community/groups/av"
                    },
                    "IIIF Discovery Technical Specification Group call": {
                        name: "IIIF Discovery TSG",
                        link: "community/groups/discovery"
                    }
                }
                var getJSON = function(url, callback) {
                    var xhr = new XMLHttpRequest();
                    xhr.open('GET', url, true);
                    xhr.responseType = 'json';
                    xhr.onload = function() {
                      var status = xhr.status;
                      if (status === 200) {
                        callback(null, xhr.response);
                      } else {
                        callback(status, xhr.response);
                      }
                    };
                    xhr.send();
                };
                
                var addCalls = function (status, events) {
                    console.log("AddCalls" + new Date());
                    var ul = document.getElementById('calls');
                    if (events.items) {
                        var tMaxcalls = 5;
                        if (events.items.length < tMaxcalls) {
                            tMaxcalls = events.items.length;
                        }
                        console.log("Reading events" + new Date());
                        for (var i = 0; i < tMaxcalls; i++) {
                            var tEvent = events.items[i];
                            var li = document.createElement("li");
                            if (group_titles[tEvent.summary] != null) {
                                li.innerHTML = "<a href='" + group_titles[tEvent.summary].link + "'>" + group_titles[tEvent.summary].name + "</a> (" + moment(tEvent.start.dateTime).format('ddd') + " - " + moment(tEvent.start.dateTime).format("LT") + " " + moment.tz.zone(moment.tz.guess()).abbr(new Date().getTime()) + ")";
                            }
                            ul.appendChild(li);
                        } 
                        console.log("finished " + new Date());
                    }
                }

                getJSON('calendar.json', addCalls);
                //loadCalendar(today, week, addCalls);
           // }
        </script>

        <div class="recent_news">
            <h3 class="">{{ page.list_title | default: "Recent News" }}</h3>
            {%- if site.posts.size > 0 -%}
                <ul>
                    {%- for post in site.posts limit: 3 -%}
                        {%- assign date_format = site.minima.date_format | default: "%Y-%m-%d" -%}
                        <li>
                            {{ post.date | date: date_format }} -- <a class="" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a> by {{ post.author | escape }}
                        </li>
                    {%- endfor -%}
                </ul>
            {%- endif -%}

            <p>Read the <a href="{{ site.url }}{{ site.baseurl }}/news/">news archive</a> or <a href="{{ site.url }}{{ site.baseurl }}/newsletter/">sign up for the newsletter</a></p>

        </div>

        <div class="recent_events">
            <h3 class="">Upcoming <a href="{{ site.url }}{{ site.baseurl }}/event/">Events</a></h3>
            {%- if site.data.event_calendar.size > 0 -%}
                <table>
                    {%- for event in site.data.event_calendar limit: 3 -%}
                        <tr>
                            <td>{{ event.date | escape }}</td>
                            <td><a class="" href="{{ event.url | relative_url }}">{{ event.title | escape }}</a></td>
                            <td>{{ event.location | escape }}</td>
                        </tr>
                    {%- endfor -%}
                </table>
            {%- endif -%}
            <ul>
                <li><span>Explore <a href=" {{ site.url }}{{ site.baseurl }}/event/past_events">past events</a></span></li>
            </ul>
        </div>
    </div>

</div>

{{ content }}
