{%  assign submission_list = site.data.old.2020-conference-submissions | where: "id",include.paper %}
{% assign submission = submission_list[0] %}
{% if include.mode=='full' %}

# **{% if submission.flagged %}(DRAFT) {% endif %}{{ submission.title }}** 
**{% for author in submission.authors %}{{author.name}}{% if author.company != '' %} ({{ author.company}}){%endif%}{% if forloop.last == false %}, {% endif %}{% endfor %}**

{{ submission.abstract }}

&nbsp;
<!-- downcase| replace: ' ','-' |replace: '“', '' | replace: '”', '' -->
{% endif %}
{% if include.mode == 'td' %} 
    <td>{% if submission.flagged %}(DRAFT) {% endif %} <a href="#{% if submission.flagged %}draft-{% endif %}{{ submission.title | slugify }}">{{ submission.title }}</a></td>
{% endif %}
