<h4>Silver sponsors</h4>

<a href="https://www.oclc.org/" style="border-bottom: none"><img src="{{ site.root_url | absolute_url }}/assets/event/sponsors/oclc_logo.png" alt='OCLC logo' style="width: 60%"></a>
<a href="https://www.performantsoftware.com" style="border-bottom: none"><img src="{{ site.root_url | absolute_url }}/assets/event/sponsors/performant_logo_300w.png" alt='performant software logo' style="width: 38%"></a>

<h4>Bronze sponsors</h4>

<a href="https://www.lunaimaging.com/" style="border-bottom: none"><img src="{{ site.root_url | absolute_url }}/assets/event/sponsors/LUNALogo_300px.png" alt='Luna Imaging logo' style="width: 43%"></a>
<a href="https://fromthepage.com/" style="border-bottom: none"><img src="{{ site.root_url | absolute_url }}/assets/event/sponsors/fromthepage_logo.jpg" alt='From the Page logo' style="width: 40%; padding-left: 2em;"></a>