<h4>Hosts</h4>

<a href="https://iiif.io/" style="border-bottom: none"><img src="{{ site.root_url | absolute_url }}/assets/event/IIIF_logo.png" alt='IIIF Consortium Logo' ></a>
<a href="http://www.international.unina.it/" style="border-bottom: none"><img src="{{ site.root_url | absolute_url }}/assets/event/Federico.png" alt='University of Naples logo' ></a>
<a href="https://www.ispc.cnr.it/en/2023/02/23/changes/" style="border-bottom: none"><img src="{{ site.root_url | absolute_url }}/assets/event/Changes.png" alt='Changes logo' ></a>