<h4>Platinum Sponsor</h4>

<a href="https://kakadusoftware.com" style="border-bottom: none"><img src="{{ site.root_url | absolute_url }}/assets/event/sponsors/Kakadu.png" alt='Kakadu Software logo' ></a>

<h4>Gold Sponsors</h4>

<a href="https://cultural-heritage.digirati.com/" style="border-bottom: none"><img src="{{ site.root_url | absolute_url }}/assets/event/sponsors/Digirati23.png" alt='Digirati logo' ></a>

<a href="https://www.4science.com/" style="border-bottom: none"><img src="{{ site.root_url | absolute_url }}/assets/event/sponsors/4science.png" alt='4Science logo' ></a>

<a href="https://www.amdigital.co.uk/create/am-quartex" style="border-bottom: none"><img src="{{ site.root_url | absolute_url }}/assets/event/sponsors/AMQuartex25.png" alt='AMQuartex logo'></a>

<h4>Silver Sponsors</h4>

<a href="https://cogapp.com/" style="border-bottom: none"><img src="{{ site.root_url | absolute_url }}/assets/event/sponsors/Cogapp23.png" alt='Cogapp logo' ></a>

<a href="https://glycerine.io/" style="border-bottom: none"><img src="{{ site.root_url | absolute_url }}/assets/event/sponsors/glycerine.png" alt='Glycerine logo' ></a>


<h4>Bronze Sponsors</h4>

<a href="https://fromthepage.com/" style="border-bottom: none"><img src="{{ site.root_url | absolute_url }}/assets/event/sponsors/fromthepage_logo.jpg" alt='From the Page logo' style="width: 40%; padding-left: 2em;"></a>


<a href="https://www.performantsoftware.com/" style="border-bottom: none"><img src="{{ site.root_url | absolute_url }}/assets/event/sponsors/performant24.png" alt='Performant logo' ></a>

<h4>Academic Sponsors</h4>

<a href="https://www.northwestern.edu/" style="border-bottom: none"><img src="{{ site.root_url | absolute_url }}/assets/event/sponsors/Northwestern.png" alt='Northwestern University Libraries logo' ></a> 