<div class="row">
    <div class="column left">
        <a href="" >
            <img class="column-img" alt="University of Michigan" src="{{ site.url }}{{ site.baseurl }}/img/event/um_logo.png" height="100">
        </a>
    </div>
    <div class="column middle">
        <div class="clearfix">
<!--         <a href="{{ site.url }}{{ site.baseurl }}/event/2019/ann_arbor/">
            <img class="column-img" alt="IIIF Ann Arbor" src="{{ site.url }}{{ site.baseurl }}/img/event/um_autumn.jpg" style="height: 200px">
        </a> -->
        <a href="{{ site.url }}{{ site.baseurl }}/event/2019/ann_arbor/">
            <img class="column-img" alt="IIIF Ann Arbor" src="{{ site.url }}{{ site.baseurl }}/img/event/um_cube.jpg" style="width: 50%">
        </a>
        </div>
    </div>
    <div class="column right">
        <a href="" >
            <img class="column-img" alt="Ithaka" src="{{ site.url }}{{ site.baseurl }}/img/event/ithaka_logo.png" height="100"/>
        </a>
    </div>
</div>
<div style="background-color:#C3434C; color:white; font-size: 17px; align:center; text-align:center; width:100%">
IIIF Ann Arbor 2019 | <b>November 4-7</b>
</div>
