<section class="section-quick-links">
  <a class="button-turquoise" href="{{ page.webprefix }}/api/image/{{ site.image_api.latest.major }}.{{ site.image_api.latest.minor }}/">IIIF Image API {{ site.image_api.latest.major }}.{{ site.image_api.latest.minor }}</a>
  <a class="button-turquoise" href="{{ page.webprefix }}/api/presentation/{{ site.presentation_api.latest.major }}.{{ site.presentation_api.latest.minor }}">IIIF Presentation API {{ site.presentation_api.latest.major }}.{{ site.presentation_api.latest.minor }}</a><br/><br/>
  <a class="button-turquoise" href="{{ page.webprefix }}/api/auth/{{ site.auth_api.latest.major }}.{{ site.auth_api.latest.minor }}">IIIF Authentication API {{ site.auth_api.latest.major }}.{{ site.auth_api.latest.minor }}</a>
  <a class="button-turquoise" href="{{ page.webprefix }}/api/search/{{ site.search_api.latest.major }}.{{ site.search_api.latest.minor }}">IIIF Search API {{ site.search_api.latest.major }}.{{ site.search_api.latest.minor }}</a>
</section>
