<br/>

<div class="container" markdown="0">
    <a href="{{ site.url }}{{ site.baseurl }}/img/event/Cabot_House_HDR.jpg" data-lightbox="edinburgh-images" style="border-bottom: none;">
        <img class="thumb-lightbox" src="{{ site.url }}{{ site.baseurl }}/img/event/Cabot_House_HDR.jpg" alt="Cabot House Harvard" style="height: 200px">
    </a>
    <a href="{{ site.url }}{{ site.baseurl }}/img/event/640px-Boston_city_hall.jpg" data-lightbox="edinburgh-images" style="border-bottom: none;">
        <img class="thumb-lightbox" src="{{ site.url }}{{ site.baseurl }}/img/event/640px-Boston_city_hall.jpg" alt="Boston City Hall" style="height: 200px">
    </a>
    <a href="{{ site.url }}{{ site.baseurl }}/img/event/boston_mit_dome.jpg" data-lightbox="edinburgh-images" style="border-bottom: none">
        <img class="thumb-lightbox" src="{{ site.url }}{{ site.baseurl }}/img/event/boston_mit_dome.jpg" alt="MIT Dome"  style="height: 200px">
    </a>
    <a href="{{ site.url }}{{ site.baseurl }}/img/event/640px-Harvard_Square_Hopkins_Map_1873.jpg" data-lightbox="edinburgh-images" style="border-bottom: none">
        <img class="thumb-lightbox" src="{{ site.url }}{{ site.baseurl }}/img/event/640px-Harvard_Square_Hopkins_Map_1873.jpg" alt="Boston Map"  style="height: 200px">
        
    </a>
</div>

<br/>

<script>
    lightbox.option({
      'resizeDuration': 100,
      'wrapAround': true
    })
</script>
