<div class="row">
    <div class="column left">
        <a href="{{ site.url }}{{ site.baseurl }}/event/2020/boston/">
            <img class="column-img" alt="Harvard University" src="https://upload.wikimedia.org/wikipedia/en/thumb/2/29/Harvard_shield_wreath.svg/1024px-Harvard_shield_wreath.svg.png" style="width: 200px;">
        </a>
    </div>
    <div class="column middle">
        <a href="{{ site.url }}{{ site.baseurl }}/event/2019/ann_arbor/">
            <img class="column-img" alt="IIIF Ann Arbor" src="{{ site.url }}{{ site.baseurl }}/img/event/um_cube.jpg" style="height: 200px">
        </a>
    </div>
    <div class="column right">
        <a href="{{ site.url }}{{ site.baseurl }}/event/2020/boston/">
            <img class="column-img" alt="MIT" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/MIT_logo.svg/1920px-MIT_logo.svg.png" style="width: 200px; display: block; margin: 48px auto;"/>
        </a>
    </div>
</div>
<div style="background-color:#A31F34; color:white; font-size: 17px; align:center; text-align:center; width:100%">
IIIF Boston 2020 | <b>June 1-4</b>
</div>
