<div class="row">
    <div class="column left">
        <a href="{{ site.url }}{{ site.baseurl }}/event/2020/boston/">
            <img class="column-img" alt="Harvard University" src="{{ site.url }}{{ site.baseurl }}/img/event/HarvardUniversity_Horizontal_Large_Shield_RGB.png" style="width: 400px; display: block; ">
        </a>
    </div>
    <div class="column middle">
        <a href="{{ site.url }}{{ site.baseurl }}/event/2020/boston/">
            <img class="column-img" alt="Boston postcard" src="{{ site.url }}{{ site.baseurl }}/img/event/commonwealth_wh246s552_access800.jpg" style="height: 200px;">
        </a>
    </div>
    <div class="column right">
        <a href="{{ site.url }}{{ site.baseurl }}/event/2020/boston/">
            <img class="column-img" alt="MIT" src="{{ site.url }}{{ site.baseurl }}/img/event/MIT-logo-with-spelling-design6-large-black-red.svg" style="width: 400px; display: block; "/>
        </a>
    </div>
</div>
<div style="background-color:#A31F34; color:white; font-size: 17px; align:center; text-align:center; width:100%">
IIIF Boston 2020 | <b>June 1-4</b>
</div>
