<div class="topline_printonly left">
    {% for section in page.sections %}
        <div class='navbar_breadcrumb' style='float:none; width:auto; padding:8px 0 3px 0; border: 0; border-top: 1px solid #666666;'>

            <a id='session-{{ section.key }}' name='session-{{ section.key }}'></a><h4>{{ section.title }}</h4>
            <h4>{{ site.data.conference_2025[section.key].session_time }}</h4>
        </div>

        {% for session in site.data.conference_2025[section.key].sessions %}
            <a name='{{session.id}}'></a>
            <div id='{{session.id}}'>
                <div class="paper">
                    <br/>
                    <h4 class="paper_title">{{session.title}}</h4>
                    {% if session.youtube %}
                        <a href="{{ session.youtube }}">Recording on Youtube</a>
                    {% endif %}
                    <p class="paper_author">
                        {% for author in session.authors %}
                            <u>{{author.name}}</u>, <i>{{author.org}}</i>{% if forloop.last == false %};{% endif %}
                        {% endfor %}
                    </p>
                    <p class="paper_organisation">{{sessions.authors }}</p>
                    
                    <div class="paper">
                        <p class="paper_abstract">{{session.abstract }}</p>
                        <p class="paper_abstract"></p>
                    </div>
                </div>
                <a href="#block-{{section.key}}-{{session.id}}">Back to schedule</a>
            </div>
            {% if forloop.last == false %}
                <hr noshade width="100%" class="float_left">
                <br />
            {% endif %}
        {% endfor %}        
    {% endfor %}        
</div>