{% assign paper = include.paper %}
{% if paper and paper != -1 %}
    {% if paper != 0 %}
        {% if include.data  %}
            {% assign submission_list = site.data[include.data] | where: "id",include.paper %}
            {% assign submission = submission_list[0] %}
            {% capture dest_url %}{{ site.url}}{{site.baseurl}}{{ include.submissionlink }}{{submission.id }}/{% endcapture %}
        {% else %}
            {% assign submission_list = site.data.2019-conference-submissions | where: "id",include.paper %}
            {% assign submission = submission_list[0] %}
            {% capture dest_url %}{{ site.url}}{{site.baseurl}}/event/2019/goettingen/program/{{submission.id }}/{% endcapture %}
        {% endif %}
        {% if submission.type == 'Panel' and include.rowSpan != 1 %}
            {% if include.data  %}
                {% assign rowspan = 2 %}
            {% else %}
                {% assign rowspan = 3 %}
            {% endif %}
        {% else %}
            {% assign rowspan = 1 %}
        {% endif %}
        <td rowspan="{{rowspan}}">{% if submission.flagged %}(DRAFT) {% endif %}<a href="{{ dest_url }}">{{ submission.title}}</a></td>
        <td rowspan="{{rowspan}}">{% for author in submission.authors %}
                {{ author.name }}{% if forloop.last == false %}, {% endif %}
        {% endfor %}</td>
    {% else %}
        <!--<td>-{{ include.position }}-</td>-->
    {% endif %}
{% else %}
    <td></td>
    <td></td>
{% endif %}
