<div class="row">
    <div class="column left">
        <a href="" >
            <img class="column-img" alt="University of Edinburgh" src="{{ site.url }}{{ site.baseurl }}/img/uoelogo.gif" height="100">
        </a>
    </div>
    <div class="column middle">
        <a href="{{ site.url }}{{ site.baseurl }}/event/2018/edinburgh/">
            <img class="column-img" alt="IIIF Edinburgh" src="https://images.is.ed.ac.uk/luna/servlet/iiif/UoEart~1~1~4637~100429/0,59,4309,2074/!256,256/0/default.jpg">
        </a>
    </div>
    <div class="column right">
        <a href="" >
            <img class="column-img" alt="National Library of Scotland" src="{{ site.url }}{{ site.baseurl }}/img/nls-logo.jpg" height="100"/>
        </a>
    </div>
</div>
<div style="background-color:#C3434C; color:white; font-size: 17px; align:center; text-align:center; width:100%">
IIIF Edinburgh 2018 | <b>December 3rd - 6th</b>
</div>
