<script src="https://unpkg.com/mirador@beta/dist/mirador.min.js"></script>


<!-- By default uses Roboto font. Be sure to load this or change the font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<!-- Container element of Mirador whose id should be passed to the instantiating call as "id" -->
 <div id="iiif-viewer" class="mirador" allowfullscreen="allowfullscreen"></div> 

<style>
  .mirador{
    display: block;
    position: relative;
    height: 60vh;
    margin-bottom: 50px;
  }
  .mirador a {
    color: inherit !important;
  }
</style>
<script type="text/javascript">
var mirador = Mirador.viewer({
  "id": "iiif-viewer",
  "manifests": {
    "https://iiif.lib.harvard.edu/manifests/drs:48309543": {
      "provider": "Harvard University"
    }
  },
  "windows": [
    {
      "loadedManifest": "https://iiif.lib.harvard.edu/manifests/drs:48309543",
      "canvasIndex": 2,
      "thumbnailNavigationPosition": 'far-bottom'
    }
  ]
});
</script>
