<script src="https://unpkg.com/mirador@beta/dist/mirador.min.js"></script>


<!-- By default uses Roboto font. Be sure to load this or change the font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<!-- Container element of Mirador whose id should be passed to the instantiating call as "id" -->
 <div id="iiif-viewer" class="mirador" allowfullscreen="allowfullscreen"></div>

<style>
  .mirador{
    display: block;
    position: relative;
    height: 60vh;
    margin-bottom: 50px;
    margin-left: -15vw;
    margin-right: -15vw;
  }
  .mirador a {
    color: inherit !important;
  }
</style>
<script type="text/javascript">
var mirador = Mirador.viewer({
  "id": "iiif-viewer",
  "manifests": {
    "https://purl.stanford.edu/hs631zg4177/iiif/manifest": {
      "provider": "Stanford University"
    }
  },
  "windows": [
    {
      "loadedManifest": "https://purl.stanford.edu/hs631zg4177/iiif/manifest",
      "canvasIndex": 0,
      allowClose: false,
      	defaultSideBarPanel: 'info',
      	sideBarOpenByDefault: true,
    },
    {
      "loadedManifest": "https://rmda.kulib.kyoto-u.ac.jp/iiif/metadata_manifest/RB00020027/manifest.json",
      "canvasIndex": 0,
      allowClose: false,
      	defaultSideBarPanel: 'info',
      	sideBarOpenByDefault: true,
    }
    ],
    "workspace": {
	showZoomControls: true
  }
}
);
</script>
