<!-- <div class="trigger">
  {%- for path in page_paths -%}
    {%- assign my_page = site.pages | where: "path", path | first -%}
    {%- if my_page.title -%}
    <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
    {%- endif -%}
  {%- endfor -%}
</div>

<div class="header-container">
      <header class="wrapper clearfix">
        <a class="title" title="IIIF : International Image Interoperability Framework" href="{{ page.webprefix }}">Home</a>
        <nav>
          <ul>
          {% for item in site.data.navigation %}
            {% if page.url == item.url or page.url contains item.url %}
              {% assign class = 'is-selected' %}
            {% else %}
              {% assign class = '' %}
            {% endif %}
            <li>
              <a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}" class="{{ class }}">{{ item.name }}</a>
            </li>
          {% endfor %}
          </ul>
        </nav>
      </header>
    </div> -->
<div class='secondary_navigation'>
{% for item in site.data.navigation %}
  {% if page.url == item.url or page.url contains item.url %}
  <ul>
    {% for sub_page in item.sub_pages %}
    <li>
      <a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}{{sub_page.url}}">{{ sub_page.name }}</a>
    </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
</div>
