
<style>
      #uv {
      height: 60vh;
margin-bottom: 50px;
margin-left: -15vw;
margin-right: -15vw;
      }
</style>
<div id="uv" class="uv" ></div>

<script>

    var myUV;

    window.addEventListener('uvLoaded', function (e) {

        myUV = createUV('#uv', {
            iiifResourceUri: 'https://preview.iiif.io/cookbook/0026_0064_0065-opera-recipes/recipe/0026-toc-opera/manifest.json',
            configUri: 'js/uv-3.1.1/uv-config.json',
            root:'js/uv-3.1.1'
        }, new UV.URLDataProvider());

        myUV.on("created", function(obj) {
            console.log('parsed metadata', myUV.extension.helper.manifest.getMetadata());
            console.log('raw jsonld', myUV.extension.helper.manifest.__jsonld);
        });

    }, false);

</script>

<script src="js/uv-3.1.1/uv.js"></script>
