<tr><td>{{ include.time }}</td>
{% if include.title %}
    <td colspan="2">{{ include.title}}</td>
{% endif %}
{% if include.paper %}
    {% assign submission_list = site.data.washington_submissions | where: "id",include.paper %}
    {% assign submission = submission_list[0] %}
    {% capture dest_url %}{{ site.url}}{{site.baseurl}}/event/2018/washington/program/{{submission.id | replace: 'Paper ', 'paper-'}}/{% endcapture %}
    <td><a href="{{ dest_url }}">{{ submission.submission_title}}</a></td>
    <td>{% for author in submission.authors %}
            {{ author.firstname }} {{ author.lastname}}{% if forloop.last == false %}, {% endif %}
    {% endfor %}</td>
{% endif %}
</tr>
